config*.json
logs/
*.db*
*.sqlite*
data/emojis.json
*v*env*/
*.env*
.idea/
.zed/
.vscode/
.DS_Store
*.sw*
uv*
build/
*eggs*/
dist/
wheels/
__pycache__
*.egg*
!config.schema.json
!config.example.json
!config.minimum.json
